.header {
  @apply w-full px-4 py-5  flex justify-between items-center bg-black-custom z-20;
}

.stuck {
  @apply fixed top-0 left-0 right-0;
}

.brand {
  @apply relative;
  width: 112px;
  height: 18px;
}
