.contactsWrapper {
  @apply bg-black-other relative pt-10;

  .containerWrapper {
    @apply container mx-auto py-20 text-center border-b border-display;

    h2 {
      @apply font-display-semibold px-10 antialiased leading-tight text-3xl mb-6 text-display;
    }

    p {
      @apply px-10 text-logo antialiased text-lg;
    }

    .buttonsContainer {
      margin-top: 2rem;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .button {
        cursor: pointer;
        @apply inline-flex text-xl px-10 py-3 rounded-lg justify-center items-center uppercase text-center transition duration-500 ease-in-out;
        @apply bg-logo text-white border-logo border-2 hover:bg-transparent hover:text-gray-light;
      }
    }
  }
}

@screen md {
  .contactsWrapper {
    @apply pt-0;
    .containerWrapper {
      h2 {
        @apply text-4xl mb-10;
      }

      p {
        @apply text-2xl;
      }

      .buttonsContainer {
        @apply flex-row pt-6 gap-8;

        .button {
          @apply text-2xl px-16;
        }
      }
    }
  }
}

@screen xl {
  .contactsWrapper {
    .containerWrapper {
      h2 {
        @apply text-5xl mb-10;
      }

      p {
        @apply text-2xl w-7/12 mx-auto;
      }

      .buttonsContainer {
        @apply flex-row pt-6 gap-8;

        .button {
          @apply text-2xl px-16;
        }
      }
    }
  }
}
