@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.scss';
@import './colors.scss';

@layer base {
  html,
  body {
    font-family: Lato Regular, system-ui, sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: var(--text-color);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

.layout-default {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  footer {
    margin-top: auto;
  }
}

@layer utilities {
  .masonry {
    column-gap: 1.5em;
    column-count: 3;
  }
  .masonry-sm {
    column-gap: 1.5em;
    column-count: 2;
  }
  .masonry-md {
    column-gap: 1.5em;
    column-count: 3;
  }
  .break-inside {
    break-inside: avoid;
  }
}
